ul#dropdown1.dropdown-content
  li
    a(href='/templates') Templates
  li
    a(href='/tickets') Tckets
  li.divider
  li
    a(href='/commands') Matrix
nav
  .nav-wrapper.white
    a.brand-logo.teal-text.darken-3(href='/')
      i.material-icons cloud
      | Dimitar Dimitrov
    ul.right.hide-on-med-and-down
      li
        a.dropdown-button.teal-text.darken-3(href='#!' data-activates='dropdown1') My Sections
          i.material-icons.right arrow_drop_down
      li
        a(href='/admin')
          i.teal-text.darken-3.material-icons settings
