//- script(src="https://code.jquery.com/jquery-2.1.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
script(src="/javascripts/clipboard.min.js")

script.
    $(document).ready(function() {
      Materialize.updateTextFields();
      $(".dropdown-button").dropdown();

      var $input = $(".placeholder");
      function clearPlaceHolder() {
        if ($input.text().length == 0) {
          $input.empty();
          }
        }

      $input.keyup(clearPlaceHolder);
      $input.click(clearPlaceHolder);
      $input.change(clearPlaceHolder);
      // Copy/paste/cut events http://stackoverflow.com/q/17796731
      $input.bind('input', (clearPlaceHolder));

    });
    new Clipboard('.btn');
    new Clipboard('.copy-command');
