extends ../shared/layout
block content
  .container
    .row.col.s12
      .col.s6
        h4.center= saveMsg
        h5
          a(href="/tickets/new") Add |  
          a(href="/tickets/all") List
      .col.s6
        p.grey-text.lighten-1 Tickets section!
      .row
        form.col.s12
          .row
            .input-field.col.s12
              input#search(type="text" autofocus)
              label(for="search") Search
              #main-result
              #notification-bar
              #info
  script.
        document.addEventListener("DOMContentLoaded", function(){
                  // console.log("The document is ready");
                  var myList = document.getElementById('info');
                  var searchField = document.getElementById('search');
                  let localHostPort = 3000;
                  var searchApiUrl = 'http://localhost:' + localHostPort + '/tickets/search/';
                  var infoElement = document.getElementById('info');
                  
                  // The KEYUP Logic and the AJAX
                  searchField.addEventListener('keyup', function(event){
                    var getSearchFieldVal = searchField.value;
                    var urlТоPass = searchApiUrl + getSearchFieldVal;
                    
                    infoElement.innerHTML = null;

                    if(getSearchFieldVal.length > 2) {
                      fetch(urlТоPass)
                        .then(function(response) {
                          if (!response.ok) {
                            throw new Error("HTTP error, status = " + response.status);
                          }
                          return response.json();
                        })
                        .then(function(json) {
                          for(var i = 0; i < json.length; i++) {
                            var widgetParent = document.createElement('div');
                            var urlTemplate = '/tickets/details/' + json[i]._id;
                            //The actual widget. TODO: Make a template engine for it, if you do not plan to migrate to REACT.
                            widgetParent.innerHTML = '<div class="row col s12"> <div class="col s10 offset-s1"> <div class="card"> <div class="card-content teal lighten-5"><span class="card-title"><a href="' + json[i].title + '" target="_blank">' + json[i].title + '</a></span> <p id="' + json[i]._id + '">' + json[i].description + '</p> </div> <div class="card-action"> <span>Keywords: ' + json[i].keywords + '</span><a class="teal-text text-darken-2 right" href="' + urlTemplate + '">Edit</a> </div> </div> </div> </div>'
                            myList.appendChild(widgetParent);
                          }
                        })
                        .catch(function(error) {
                          var p = document.createElement('p');
                          p.appendChild(
                            document.createTextNode('Error: ' + error.message)
                          );
                          document.body.insertBefore(p, myList);
                        });
                    }
                  });
          })  