extends ../shared/layout
block content
  .container
    .row.col.s12
      .col.s6
        h4.center= saveMsg
        h5
          a(href="/tickets/new") Add |  
          a(href="/tickets/all") List
      .col.s6
        p.grey-text.lighten-1 Tickets section!
      .row
        form.col.s12
          .row
            .input-field.col.s12
              input#search(type="text" autofocus)
              label(for="search") Search
              #main-result
              #notification-bar
              #info
  script.
    $( document ).ready(function() {
      console.log( "ready!" );
      // The KEYUP Logic
      $('#search').keyup(function(){
        var urlSearch = 'http://localhost:3000/tickets/search/'
        var searchField = $('#search').val();
        var urlТоPass = urlSearch + searchField;
        $('#info').empty();
        if(searchField.length > 2){
          $.ajax(urlТоPass, {
           success: function(data) {
              for (ticket of data) {
                console.log(ticket)
                var urlTicket = '/tickets/details/' + ticket._id;
               // console.log(title + 'and' + $description);
                var ticketInstance = '<div class="row col s12"> <div class="col s10 offset-s1"> <div class="card"> <div class="card-content teal lighten-5"><span class="card-title"><a href="' + ticket.title + '" target="_blank">' + ticket.title + '</a></span> <p id="' + ticket._id + '">' + ticket.description + '</p> </div> <div class="card-action"> <span>Keywords: ' + ticket.keywords + '</span><a class="teal-text text-darken-2 right" href="tickets/details/' + ticket._id + '">Edit</a> </div> </div> </div> </div>';
                $('#info')
                 .append(ticketInstance);
              }
           },
           error: function() {
              $('#notification-bar').text('ISE 5001 aka type a keyword');
           }
          });
        }
      });
    });
