extends ../shared/layout
block content
  .container
    .row.col.s12
      .col.s6
        h5
          a(href="/templates/new") Add | 
          a(href="/templates/all") List
      .col.s6
        p.grey-text.lighten-1 Templates section!
    .row
      form.col.s12
        .row
          .input-field.col.s12
            input#search(type="text" autofocus)
            label(for="search") Search
            #main-result
            #notification-bar
            #info
  script.
    $( document ).ready(function() {
      console.log( "ready!" );
      // The KEYUP Logic
      $('#search').keyup(function(){
        var urlSearch = 'http://localhost:3000/templates/search/'
        var searchField = $('#search').val();
        var urlForPass = urlSearch + searchField;
        $('#info').empty();
        if(searchField.length > 2){
          $.ajax(urlForPass, {
           success: function(data) {
              for (template of data) {
                var urlTemplate = '/templates/details/' + template._id;
               // console.log(title + 'and' + $description);
                var templateInstance = '<row> <div class="col s12 offset-s0"> <div class="card blue-grey darken-1"> <div class="card-content white-text"> <span class="card-title">' + template.title + '</span> <p class="body-ws" id=" ' + template._id + ' ">' + template.body + '</p> </div> <div class="card-action"> <a href=" ' + urlTemplate + ' " class="btn edit-btn">Edit</a> <button type="button" class="btn waves-effect waves-light" data-clipboard-text=" ' + template.body + ' ">Copy</button> </div> </div> </row>'
                $('#info')
                 .append(templateInstance);
              }
           },
           error: function() {
              $('#notification-bar').text('ISE 5001 aka type a keyword');
           }
          });
        }
      });
    });
