extends ../shared/layout
block content
  .container
    h6
      != 'You are going to edit this instance. You could <a href="/templates/details/remove/' +template_details._id+ '">remove</a>(<i class="tiny teal-text lighten-3 material-icons">delete</i>) it as well.'
    form(method='POST' action='')
      .row
        .col.s12.offset-s0
          .card.brown.darken-1
            .card-content.white-text
              .input-field
                label(for="title") Title:
                input(name="title" type="text" value=template_details.title)
              .input-field
                label(for="keywords") Keywords:
                input(name="keywords" type="text" value=template_details.keywords)
              .input-field
                label(for="body") Body:
                textarea.materialize-textarea(name="body" type="text") #{template_details.body}
            .card-action
              row.col.s6.offset-s9
                button.btn.waves-effect.waves-light(name="action") Submit
                  i.material-icons.right send
