extends ../shared/layout
block content
  .container
    .row.col.s12
      .col.s6
        h4.center= saveMsg
        h5
          a(href="/commands/new") Add | 
          a(href="/commands/all") List
      .col.s6
        p.grey-text.lighten-1 Search for commands:
      .row
        form.col.s12
          .row
            .input-field.col.s12
              input#search(type="text" autofocus)
              label(for="search") Search
              #main-result
              #notification-bar
              #info
  script.
      document.addEventListener("DOMContentLoaded", function(){
        // console.log("The document is ready");
        var myList = document.getElementById('info');
        var searchField = document.getElementById('search');
        var searchApiUrl = 'http://localhost:3000/commands/search/';
        var infoElement = document.getElementById('info');
        
        searchField.addEventListener('keyup', function(event){
          var getSearchFieldVal = searchField.value;
          var urlТоPass = searchApiUrl + getSearchFieldVal;
          
          infoElement.innerHTML = null;

          if(getSearchFieldVal.length > 2) {
            fetch(urlТоPass)
              .then(function(response) {
                if (!response.ok) {
                  throw new Error("HTTP error, status = " + response.status);
                }
                return response.json();
              })
              .then(function(json) {
                for(var i = 0; i < json.length; i++) {

                  //Test the widget:
                  var widgetParent = document.createElement('div');
                  var divRowColS12 = '<div class="row col s12">'
                  var urlCommand = '/commands/details/' + json[i]._id;
                  //The actual widget. TODO: Make a template engine for it, if you do not plan to migrate to REACT.
                  widgetParent.innerHTML = '<div class="row col s12"> <div class="col s10 offset-s1"> <div class="card"> <div class="card-content indigo lighten-4"> <div class="bottom-border-cc"><span class="card-title body-ws">' + json[i].title + '<a href="#!" data-clipboard-text="' + json[i].title +'" class="blue-grey-text text-darken-4 copy-command"><i class="tiny material-icons right">work</i></a></span></div><span>Keywords: ' + json[i].keywords + '</span><a href="' + urlCommand + '" class="teal-text text-darken-2 right">Edit</a> </div> <div class="card-action"> <p class="cyan-text text-darken-2 body-ws">' + json[i].description + '</p> </div> <div contenteditable="true" class="card-content indigo lighten-5"></div> </div> </div> </div>';
                  myList.appendChild(widgetParent);

                }
              })
              .catch(function(error) {
                var p = document.createElement('p');
                p.appendChild(
                  document.createTextNode('Error: ' + error.message)
                );
                document.body.insertBefore(p, myList);
              });
          }
        });
      })
      

